<div>
  <%= comment.body %>
</div>
<small>
  <%= image_tag(comment.user.avatar.tiny.url) if comment.user.avatar? %>
  submitted <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.name %>
  
      <% if policy(comment).destroy? %>
        | <%= link_to "Delete", [@post, comment], method: :delete %>
      <% end %>
</small>
