<h1><%= markdown_to_html @post.title %></h1>

<%= @post.title %><br>
<%= Post.find(params[:id]).title %><br>
<%= Post.find(params[:id]) %><br>
<%= @post %>

<div class="row">
  
  <div class="col-md-8">
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
    </small>
    <p><%= markdown_to_html @post.body %></p>
      <%= image_tag( @post.image.thumb.url ) if @post.image? %>
  </div>
  
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>

    <% if policy(@post).destroy? %>
      <%= link_to "Delete", [@topic, @post], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?' } %>
    <% end %>
  </div>

  <div class="col-md-8">
    <% if policy(@comment).new? %>
      <%= render partial: 'comments/form', locals: { topic: @topic, post: @post, comment: @comment} %>
    <% end %>  
  </div>

  <div class = "col-md-8">
    <%= render @comments %>
  </div>
 
  <div class = "col-md-8">
    <%= will_paginate @comments %>
  </div>

</div>